
@font-face {
	font-family: 'Avenir Next';
	src: url('../web-fonts/Avenir-Next.ttc') format('ttc');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Regular';
	src: url('../web-fonts/Lato-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Bold';
	src: url('../web-fonts/Lato-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Black';
	src: url('../web-fonts/Lato-Black.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Light';
	src: url('../web-fonts/Lato-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

*{
	max-width: 100vw;
}

ul{
	padding: 0;
}

.main {
	background: #2c2b71;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top left, #2c2b71, #4FC2B6, #ED217C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top left, #2c2b71, #4FC2B6, #ED217C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 93vh;

}

.navbarBg {
	background-color: #1C1C1C;
	height: 7vh;
}

.navbar-light .navbar-brand {
	color: #FFFFFF;
	text-transform: uppercase;
}

.navbar-light .navbar-brand:hover {
	color: #ED217C;
}

.wrapper-main {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.lead {
	color: #FFFFFF;
	font-family: 'Lato Light', sans-serif;
	font-size: 0.87em;
	margin: 2em auto;
	text-transform: uppercase;
	width: 90%;
}

.mainLogo {
	max-width: 80vw;
}

.logoText {
	color: #FFFFFF;
	font-size: 5em;
	padding-top: 0.5em;
	text-transform: uppercase;
}
.center-content {
	margin: 0 auto;
}


/* menu */

.main-menu {
	padding: 0;
	margin-bottom: 0;
}

.main-menu li {
	margin-bottom: 1em;
    list-style: none;
}

.main-menu li a {
	border: 0.25em solid #FFFFFF;
	border-radius: 2em;
	color: #FFFFFF;
	font-family: 'Lato Bold', sans-serif;
	font-size: 0.9em;
	padding: 1em 2em;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	width: 92%;
}

.main-menu li a:hover {
	color: #1C1C1C;
	background-color:  #FFFFFF;
	text-decoration: none;
	transition: 0.4s;
}

.footer-content {
	color: #FFFFFF;
	background-color: #1C1C1C;
}

.exhib-time {
	font-size: 0.87em;
	font-weight: bold;
	padding: 2em 1em 0 1em;
	text-align: center;
	margin-bottom: 2em;
}

.exhib-address p {
	text-align: center;
	font-size: 0.87em;
	margin: 2em 0;
}

.hr{
 	border-top: 2px solid  #FFFFFF;
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
}

.footer {
	font-family: 'Lato Regular', sans-serif;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.footerSponsersSec{
	background-color: #1C1C1C;
}

.sponsers {
	background-color: #1C1C1C;
	padding: 1.3em 0;
}

.sponsers a {
	color: #FFFFFF;
	font-size: 0.6em;
	text-transform: uppercase;
	font-family: 'Lato Bold', sans-serif;
}

.classes-template-container{
	width: 90vw;
}

.classes-template-title-wrapper{
	display: flex;
		justify-content: space-between;
		align-items: center;
	margin: 2em 0 1em 0;
	text-transform: uppercase;
}

.classes-template-title{
	font-size: 1.8em;
	text-align: center;
}

i.classes-template-chevron{
	font-size: 1.4em;
	padding-bottom: 0.3em;
}

.chevron-hidden{
	opacity: 0;
}

.classes-template-title-wrapper a:link, .classes-template-title-wrapper a:visited, .classes-template-title-wrapper a:hover, .classes-template-title-wrapper a:active{
	color: inherit;
}

.classes-template-blurb{
	font-size: 0.8em;
	margin-bottom: 2em;
	text-align: center;
}

.row-custom{
	margin-bottom: 1em;
}

.attachment-project-thumbnail{
	display: block;
	margin: 1.2em auto;
	max-width: 80vw;
	height: 211px;
	object-fit: cover;
	width: 324px;
}

.project-title{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0.6em 0;
	position: absolute;
		top: 50%;
	  left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	z-index: 2;
}

.modal-header-flex{
	display: flex;
		align-items: center;
}

.modal-title{
	font-size: 1.2em;
}

.project-profile-img{
	align-self: flex-start;
	border-radius: 50%;
	margin-right: 1em;
	width: 25%;
	height: auto;
}

.project-modal-content img{
	display: block;
	height: auto;
	margin-bottom: 2em;
	width: 100%;
}

.project-modal-content p{
	margin-bottom: 0.7em;
	font-size: 0.9em;
}


@media screen and (max-width: 420px){
	.nav-logo{
		height: 22px;
	}
}

@media screen and (min-width: 500px){

	.mainLogo {
		max-width: 80vw;
	}

	.lead{
		font-size: 1em;
		margin: 3em auto;
		width: 70%;
	}

	.classes-template-title-wrapper{
		margin: 4em 0 2em 0;
	}

	.classes-template-title{
		font-size: 2.5em;
	}

	i.classes-template-chevron{
		font-size: 1.5em;
		padding-top: 0.2em;
	}

	.classes-template-blurb{
		font-size: 0.9em;
		margin: 0 auto 2.5em auto;
		width: 80%;
	}

}


@media only screen and (min-width: 660px){
	.mainLogo {
		max-width: 70vw;
	}
}

@media only screen and (min-width: 768px) {

	.container-custom {
		padding-right: 4em;
		padding-left: 4em;
	}

	.main-menu li a {
		width: 56%;
	}

	.exhib-address p, .exhib-time {
		font-size: 1em;
	}
}

@media screen and (min-width: 1024px){

	.mainLogo {
		max-width: 60vw;
	}

	.lead{
		font-size: 1.2em;
		width: 65%;
	}

	.col-custom{
		color: rgba(33, 37, 41, 0);
	}

	.classes-template-title-wrapper{
		margin: 4em 0 2em 0;
	}

	.classes-template-title{
		font-size: 3em;
	}

	i.classes-template-chevron{
		font-size: 1.8em;
		padding-top: 0.3em;
	}

	.classes-template-blurb{
		font-size: 1em;
		margin: 0 auto 3em auto;
		width: 60%;
	}

	.project-title{
		background: none;
		cursor: pointer;
		transition: .5s ease;

	}

	.white-backdrop{
		background-color: rgba(255, 255, 255, 0);
		cursor: pointer;
		position: absolute;
			top: 50%;
		  left: 50%;
	  transform: translate(-50%, -50%);
		height: 110%;
		transition: .5s ease;
		width: 100%;
		z-index: 1;
	}

	.hover-event-trigger:hover .project-title{
		color: rgba(33, 37, 41, 1);
	}

	.hover-event-trigger:hover .white-backdrop{
		background-color: rgba(255, 255, 255, 0.7);
	}

	/* .col-custom:nth-last-child(1){
		flex-grow: 0;
	} */

}

@media screen and (min-width: 1200px){

	.lead{
		width: 80%;
	}

	.hover-event-trigger{
		position: relative;
		max-width: 330px;
	}
}


@media only screen and (min-width: 1440px) {

	.mainLogo {
		max-width: 40vw;
	}


	.main-menu li a {
    	width: 39%;
	}

	.lead {
		font-size: 1.2em;
		padding: 0 6em;
	}

	.exhib-time {
		padding-top: 4em;
	}

	.exhib-address p, .exhib-time {
		font-size: 1.2em;
	}
}
